body {
background-image: url(https://wallpaperaccess.com/full/226175.jpg); /*backgrunds bild */
margin:0px; /*tar bort margin från yterdelarna på sidan */
padding:0px 0px; /* gör så det är 0px padding */
}
.lag {  
background-color: white; /* backgrunds färg*/
}
header {
	grid-area: header;  /*säger att det är header */
	background-color:Red ; /*backgrundsfärg */
	padding: 0px 5px;
}
.gridContainer { /* styleing på gridcontainer som används på flera av mina sidor */
	display: grid; /*säger åt den att använda grid */
	grid-template-columns: 1fr; /*delar griden i en kollumn */
	grid-template-columns: 1fr; /*delar griden i en kollumn */
	grid-template-areas: /*Hur griden ska sorteras */
	"header"
	"main"
	"footer";


}
main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-self: center; /* säger åt den att vara i center*/
	padding:10px;

}
nav ul {
	display: flex;
	flex-direction: row; /*Säger att flexboxen ska vara i rad*/
	padding: 0px;
	margin: 5px; /*Tar bort margin med 5px*/
	list-style-type: none; /*Tar bort stylen */
}
nav li{
	display: flex;
	justify-content: center;
	flex: 33%; /* gör så att flexboxen kan växa med 33% inom en vis area*/
}
nav li a  {
	color:White; /*textens färg */
	font-weight: bold;/*gör fonten tjock */
	text-decoration: none; /*tar bort linjen under texten*/
	padding: 10px 25px;
	font-size: 250%; /*storleken på fonten */
	display: flex;
	align-items: center; /*Lägger texten i "center"*/
	justify-content: center;
	font-family:monospace;

}

.Information { /* används på index sidan till information rutan i mitten*/
  text-align:center; /* centerar texten i mitten*/
}


}
.undernav { /* stylear under delen på navabaren */
  display:flex;
  justify-content:center;
  color:red;
  font-size:70%;
}
.undernav ul { /* stylear under delen på navabaren */
	background-color:red;
	padding:0px 10px;
	margin:0px;

}


iframe { /* style för youtube videon */
  border:5px red solid; /*lägger till en border */
  border-radius: 10px;
  height:250px;
  width:375px;


}
footer {
	color:rgb(255, 255, 255); /*färg med hjälp av rgb */
	background-color:red;
	margin:0px;
	padding:0px;


}

.griddrivers, .gridteams{ /* Stylear griden för drivers och teams på deras respektive sidor */
	display: grid;
	grid-template-columns: 1fr; /*delar griden i en kollumn */
	grid-template-areas:
	"header"
	"main"
	"footer"
}

main.drivers  { /* griden som fixar bilderna i gridden på drivers sidan*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; /*delar griden i en kollumn */
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-self: center;
	padding:0;
}


	
}
#olist, ol { /* Olist används på om sidan och stylear min orderd list*/
	color:#FF0000;
	font-size: 1.5em;
}
.teambody { /* ändrar backgrunds bilden på hela teams.index sidan */
	background-image: url(https://simracingsetup.com/wp-content/uploads/2020/02/F1-2020-All-Team-Desktop-Wallpaper.jpg);
}
h1, h2 ,h3 ,h4 ,h5 ,h6 {
	Color:white;
	font-size: 25px;
}

a:link { /*ändrar stylen på länkar */
	color:white;
	font-size: 50px;
}

a:visited { /*ändrar hur länken ser ut när du vart inne på den en gång */
	color: white;
}
a:focus { /* när du använder tab eller pil tangenterna*/
	background-color: blue;
}
a:hover { /* när du håller musen över texten*/
	color: hotpink;
}
a:active { /* när du håller in musen på texten*/
	background-color:white;
}

table { /* */
	width: 65%;
	border: 1px solid #ddd;
	color:white;

}
table caption {
	font-size: 140%;
	margin-bottom: 20px;
}

td, th {
	padding: 5px;

}


form {
	color:white;
}

.indexbilder { /* bestämmer storlekten på bilderna som används på index sidan*/
	width:375px;
	height:250px;

}
video {
	width:320px;
	height: 240px;
}
 
.driverbilder {  /* bestämmer storlekten på bilderna som används på drivers sidan*/
	width:175px;
	height:175px;
}

#index section{ /*används för griden på rutorna på index sidan och även video gridsen på videos.html */
	display:flex;
	flex-direction: column;
	align-items: center;
	color:white;

}

#index section img{ /*Används för att styela bordern runt om bilderna på index.html och videos på videos.html */
	border:5px red solid;
    border-radius: 10px;
}
